.body{
    background-image:url(../img/ketVersion.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    /* min-width: 1980px; */
    height: 100vh;
    margin-top: 0;
}

.LOGO-TAP{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 24rem;
    height: 100vh;
}

/* .main_LOGO {
    max-width: 100%;
    max-height: 100%;
} */
.LOGO-TAP p{
    color: #fff;
    margin-top: 90vh;
    text-shadow: 0 0 8px rgba(0, 0, 0, 1);
}

#nav_switch {}

/* nav */
#nav_toggle {
    display: none;
}

.nav{
    flex-direction: column;
    align-items: center;
    background:rgba(255, 255, 255, 0.75);
    position: absolute;
    width: 24rem;
    height: inherit;
    /* box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2); */
    padding: 10% 12px 0;
}

.nav_area{
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    width: 100%;
}

.nav_LOGO{
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

.nav_list {
    border: 2px solid #000;
    border-left: none;
    border-right: none;
    padding: 0px 1.5rem;
    list-style: none;
}

.nav_list_btns{
    color: #000;
    text-decoration: none;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.nav_list_btns:hover {
    scale: 1.2;
}

.nav_list_link {
    color: inherit;
    text-decoration: inherit;
}

#series1 {}

#series2 {}

#return_btn{
    color: #595959;
}

/* footer */

.footer {
    position: fixed;
    bottom: 0;
}

.footer_list{
    padding: 0;
    list-style: none;
}

.footer_list_item {}