.body{
    flex-direction: column;
    max-width: 100%;
}

/* -----header_start----- */

/* 文字 */
.head2{
    font-family: "Agbalumo",sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
.text1{
    font-family: "Noto Sans",sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 3vh;
}
@media(max-width:960px){
    .head2{
        font-family: "Agbalumo",sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .text1{
        font-family: "Noto Sans",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 3vh;
    }
}
@media(max-width:747px){
    .head2{
        font-family: "Agbalumo",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .text1{
        font-family: "Noto Sans",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 3vh;
    }
}
@media(max-width:480px){
    .head2{
        font-family: "Agbalumo",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
    .text1{
        font-family: "Noto Sans",sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin-top: 0;
    }
}

/* navigation */
#navBar{
    background-color: rgba(89, 101, 111, 0.8);
    position: fixed;
    z-index: 9;
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: inherit;
    padding: 0px 5%;
}

.navBar_btnBox{
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: 0.2s linear;
}

.navBar_btn{
    display: flex;
    justify-content: center;
    color: #FFF;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
}

.navBar_showList{
    background-color: rgba(89, 101, 111, 0.8);
    position:absolute;
    top:100%;
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0px;
    list-style: none;
    transition: 0.2s linear;
}

.navBar_btnBox:hover{
    background-color: #98c1d9;
    width: 120%;
}

.navBar_btnBox:hover .navBar_showList{
    display: flex;
}

.navBar_btnBox:hover .navBar_btn:hover{
    background-color: #98c1d9;
}
/* -----header_end----- */
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FEF4EA;
}

.container_mainpart{
    /* display: flex; */
    width: 98%;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* 垂直居中对齐 article */
    align-content: center;
    margin: 13vh 4vh 30vh 2vh;
    min-width: 380px;
    
}
@media(max-width:960){
    .container_mainpart{
        /* display: flex; */
        width: 96%;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* 垂直居中对齐 article */
        align-content: center;
        margin: 5vh 5vh 10vh 2vh;
        position: relative;
        
    }
}

.main_pic{
   /* display: block; */
    display: flex;
    width: 100%;
    max-height: 100vh;
    align-items: center;
    overflow: hidden;
    margin-top: 5vh;
    margin-bottom: 10vh; 
    border-radius: 30px;
    box-shadow: 18px 18px 4.2px rgba(0, 0, 0, 0.2);
/* 水平偏移量 垂直偏移量 模糊度 扩散半径 阴影颜色 */
}
@media(max-width:960px){
    .main_pic{
        /* display: block; */
        display: flex;
        width: 100%;
        max-height: 100%;
        align-items: center;
        overflow: hidden;
        margin-top: 4vh;
        margin-bottom: 5vh; 
        border-radius: 20px;
        box-shadow: 18px 18px 4.2px rgba(0, 0, 0, 0.2);
     /* 水平偏移量 垂直偏移量 模糊度 扩散半径 阴影颜色 */
     }
}
.img_s{
    /* height: auto;  */
    width: 100%;
    border-radius: 20px;
    
}

/* 介紹內容設置 */
.aside{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;/* 將內容撐開 */    
}

.style_box{
    position: relative;
    justify-items: center;
    margin-top: 100px;
}
@media(max-width:960px){
    .style_box{
        display: flex;
        position: relative;
        /* align-items: center; */
        justify-items: center;
        /* flex-direction: row; */
        margin-top: 80px;
    }
}
@media(max-width:747px){
    .style_box{
        display: flex;
        position: relative;
        justify-items: center;
        margin-top: 50px;
    
    }
}
.content_box{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between; /* 将内容分散在两侧 */
    align-items: center;
    max-height: 60vh;
    max-width: 100%;
    /* min-width: 800px; */
    background-color: #D6BCFD;
    /* justify-content: space-around; */
    border-radius: 20px;
    box-shadow: 18px 18px 4.2px rgba(0, 0, 0, 0.2);
/* 水平偏移量 垂直偏移量 模糊度 扩散半径 阴影颜色 */
        /* 動畫 */
        opacity:0;
}
@media(max-width:960px){
    .content_box{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between; /* 将内容分散在两侧 */
        align-items: center;
        height: 60vh;

        max-height: auto;
        max-width: 100%;
        /* justify-content: space-around; */
        border-radius: 15px;  


    }
}
@media(max-width:747px){
    .content_box{
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: space-between; /* 将内容分散在两侧 */
        align-items: center;
        /* max-width: 100%; */
        border-radius: 15px;
        max-height: 35vh;
    }
}
.img_box{
    display: flex;
    height: 60vh;
    object-position: center;
    border-radius: 20px;
    overflow: hidden;
}
@media(max-width:960px){
    .img_box{
        display: flex;
        height: 45vh;
        /* width: 50%; */
        object-position: center;
        overflow: hidden;
        border-radius: 15px;
        margin-left:3vh ;
    }
}
@media(max-width:747px){
    .img_box{
        display: flex;
        height: 45vh;
        /* width: 50%; */
        object-position: center;
        overflow: hidden;
        border-radius: 15px;

        max-height: 50vh;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
}
.img{
    object-fit: contain;
    /* object-position: 50% 50%; */
    border-radius: 20px;
    /* overflow: hidden; */
    height: 100%;
}
@media(max-width:960px){
    .img{
        object-fit: contain;
        /* object-position: 50% 50%; */
        border-radius: 15px;
        /* overflow: hidden; */
        height: 100%;
        width: 400px;
    }
}
@media(max-width:747px){
    .img{
        object-fit: contain;
        /* object-position: 50% 50%; */
        border-radius: 13px;
        /* overflow: hidden; */

        /* height: 50vh;
        width: auto; */

        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: auto;
    }
}
.text_box{
    position: relative;
    height: auto;
    width: 55vh;
    margin-left: 30px;
}
@media(max-width:960px){
    .text_box{
        position: relative;
        height: auto;
        width: 60vh;
        margin-left: 30px;

    }
}
@media(max-width:747px){
    .text_box{
        position: relative;
        height: auto;
        width: 60vh;
        margin-left: 20px;
    }
}

/* 480PX響應式 */

@media(max-width:480){
    .container_mainpart{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center; /* 垂直居中对齐 article */
        align-content: center;
        margin: 3vh 1vh 3vh 1vh;
        position: relative;
        
    }
    
}
@media(max-width:480px){
    .main_pic{
         margin-top: 1vh;
         margin-bottom: 3vh; 
     }
}
@media(max-width:480px){
    .img_s{
        height: auto; 
        width: 100%;
        border-radius: 10px;
    }
}
@media(max-width:480px){
    .aside{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-content: stretch;/* 將內容撐開 */    
    }   
}

@media(max-width:480px){
    .style_box{
        display: flex;
        position: relative;
        justify-items: center;
        align-items: center;
        margin-top: 28px;
        width: 100%;
    }
}
@media(max-width:480px){
    .content_box{
        display: flex;
        flex-direction: column;
        position: relative;
        align-items:center;
        justify-content: center;
        max-height: 30vh;
        max-width: 100%;
        width: 100%;
        border-radius: 15px;
        background-color: #D6BCFD;
    }
}

@media(max-width:480px){
    .img_box{
        display: flex;
        object-position: center;
        border-radius: 12px;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        margin: 3vh 0 0 0;
    }
}


@media(max-width:480px){
    .img{
        /* object-fit: contain; */
        object-fit: cover;
        border-radius: 12px;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        height: 100%;
        
    }
}

@media(max-width:480px){
    .text_box{
        position: relative;
        height: 20vh;
        width: auto;
        margin: 1vh 0 0 0;
    }
}



