.body{
    background-color: #fff;
}

/* -----header----- */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

/* header */
.headerBox{

}

.menu_btn{}

.header_LOGO{}

.header_user_setting_btn{}

/* navigation */
.nav{
    position: absolute;
}

/* -----banner----- */
.banner{
    /* background-color: #fff; */
    display: flex;
    width: 100%;
    max-height: 65vh;
    /* box-shadow: 0 1rem 4rem -50px #898989; */
    align-items: center;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
}

/* -----main----- */
.container{
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

.main{

}

/* sideBox */
.sideBox{}

.sideBox_title{}

.sideBox_list{
    list-style: none;
    margin: 1rem 0px 0px;
    padding: 0px 10%;
}

.sideBox_list_item{}

.sideBox_list_link{
    text-decoration: none;
}

/* content */
.content{

}

.content_title{}

.product_showcase{}

/* 系列 */
.series_box{}

.series_title{}

.product_cards_list{
    display: flex;
    list-style: none;
}

.product_card{}

.product_name{}

/* -----footer----- */

.footer{
    background-color: #a9a9a9;
}