html{
    box-sizing: border-box;
    /* font-family: ; */
}

*,*:before,*:after{
    box-sizing: inherit;
}

body {
    background-color: #B79CEE;
}

a{
    text-decoration: none;
    color: black;
}

p{
    font-size: 16px;
}
@media (max-width:480px) {
    a{
        font-size: 14px
    }
    p{
        font-size: 14px;
    }
}

/* ---------------MAIN--------------- */
main {
    margin-top: 90px;
}

/* ---------------文字跑馬燈--------------- */
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
}

.marquee-content {
    display: inline-block;
    animation: marquee 10s linear infinite;
    /* 调整动画持续时间和其他参数 */
}

.marquee-content p {
    display: inline-block;
    margin: 0.2rem 3rem;
    /* 去除段落的默认外边距 */
}

@keyframes marquee {
    0% {
        transform: translateX(120%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* ---------------MAIN--------------- */
/* title_aboutus */
.aboutUs_title{
    /* background-color: #FFD964; */
    /* box-shadow: 18px 18px 4.2px rgba(0, 0, 0, 0.2); */
    width: 40%;
    min-width: 150px;
    /* padding: 5%; */
    border-radius: 7px;
    margin: 1rem 0;
}

.mainBanner img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 2rem;
}


/* 水平線 */
.mainHoriLine {
    height: 0.2px;
    margin: 1rem 0px 100px;
    background-color: black;
}

.mainOurInfo{
    display: flex;
    justify-content: center;
    margin-bottom: 132px;
}

.mainOurInfo img{
    width: 280px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
    margin: auto 0;
}

.Info_textArea{
    min-width: 300px;
    max-width: 40rem;
    height: auto;
    background-color: #FEF4EA;
    align-self: center;
    border-radius: 20px;
    margin: 5%;
    padding: 3rem;
}
.Info_textArea p{
    margin: 0;
}

@media (max-width:768px) {
    .mainOurInfo{
        display: block;
    }   
    .Info_img{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .Info_textArea{
        padding: 2rem 3rem;
    }
}