.body{
    flex-direction: column;
    
}

/* -----header_start----- */
.header{
    background-color: #1d1e2c;
    color: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: inherit;
    height: 10vh;
    padding: 0px 30px;
}

.menu{
    display: flex;
    align-items: center;
    height: 100%;
}

#menu_btn{
    height: 80%;
}

#header_LOGO{
    display: flex;
    align-items: center;
    height: 100%;
}
#header_LOGO img{
    height: 80%;
}

#header_userSetting_btn{
    height: 80%;
}

/* navigation */
#navBar{
    background-color: rgba(89, 101, 111, 0.8);
    position: fixed;
    z-index: 9;
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-width: inherit;
    padding: 0px 5%;
}

.navBar_btnBox{
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    transition: 0.2s linear;
}

.navBar_btn{
    display: flex;
    justify-content: center;
    color: #FFF;
    width: 100%;
    padding: 1rem;
    text-decoration: none;
}

.navBar_showList{
    background-color: rgba(89, 101, 111, 0.8);
    position:absolute;
    top:100%;
    display: none;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 0px;
    list-style: none;
    transition: 0.2s linear;
}

.navBar_btnBox:hover{
    background-color: #98c1d9;
    width: 120%;
}

.navBar_btnBox:hover .navBar_showList{
    display: flex;
}

.navBar_btnBox:hover .navBar_btn:hover{
    background-color: #98c1d9;
}
/* -----header_end----- */

.container{
    /*height: 90vh;*/
    /* display: flex; */
    flex-direction: column;
    align-items: center; /* 垂直居中对齐 article */
    margin-top: 10vh;
    margin-bottom: 30vh;
    /* background-color: #85A893; */
}
.p{
    white-space: normal;
}
.main_pic{
   /* display: block; */
    display: flex;
    width: 100%;
    max-height: 90vh;
    align-items: center;
    overflow: hidden;
    margin-bottom: 10vh;   
}
.img_s{
    height: auto; 
    width: 100%;
    /* border-radius: 20px; */
}

/* 介紹內容設置 */
.aside{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.stylebox{  /*onebox外面的邊框甚麼的*/
    /* display: flex; */
    position: relative;
    align-items: center;
    justify-items: center;
}
.one_box{
    display: flex;
    position: relative;
    align-items: stretch;
    justify-content: space-between; /* 将内容分散在两侧 */
    
    margin-top: 10vh;
    margin-bottom: 10vh;
    /* margin-left: 15%; */
    flex-shrink: 0;

    vertical-align: middle;

    background-color: #85A893;
}
.box1, .box3 {
    border: 15px solid #0a0b0c;
    margin: 5% 20% 5% 20%;
    border-radius: 10px;
    flex: 2;
    width: 100%;
    height: auto; 
    overflow: hidden;     
}
.box1 img,.box3 img{
    object-fit: cover; /* 填充框，保持纵横比，可能会裁剪图像 */
}
.box2, .box4 {
    flex: 3;
    padding: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.box4{
    margin-left: 20%;
}
.footer{

    display: flex;
    background-color: black;
    height: 10vh;
    justify-content: center;
    align-items: center;
    line-height: 5;
}
