.body{
    background-color: #fff;
}

/* -----header----- */
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

/* header */
.headerBox{

}

.menu_btn{}

.header_LOGO{}

.header_user_setting_btn{}

/* navigation */
.nav{
    position: absolute;
}

/* -----banner----- */
.banner{
    /* background-color: #fff; */
    display: flex;
    width: 100%;
    max-height: 65vh;
    /* box-shadow: 0 1rem 4rem -50px #898989; */
    align-items: center;
    overflow: hidden;
}

.banner img{
    width: 100%;
    height: 100%;
}

/* -----main----- */
.container{
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0px 10%;
    gap: 5rem;
}

/* sideBox */
.sideBox{
    width: 15%;
}

.sideBox_title{}

.sideBox_list{
    /* list-style: symbols("&"); */
    margin: 1rem 0px 0px;
    padding: 0px 10%;
}

.sideBox_list_item{
    margin-bottom: 0.5rem;
}

.sideBox_list_link{
    text-decoration: none;
}

/* content */
.content{
    width: 75%;
}

.content_title{}

.product_showcase{}

/* 系列 */
.series_box{
}

.series_box_head{
    display: flex;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.series_title{
    margin: 0;
}

.product_cards_list{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0px;
    border-top: 1px solid #a9a9a9;
    padding: 1rem 40px;
    /* padding-left: 0px; */
}

.product_card{
    display: flex;
    flex-direction: column;
    border: 1px solid #a9a9a9;
    border-radius: 6px;
    padding: 0.5rem;
}
.product_card img{
    margin-bottom: 0.5rem;
    border-radius: 6px;
}

.product_name{
    align-self: center;
    margin: 0px;
}

/* -----footer----- */

.footer{
    background-color: #a9a9a9;
}